# Crypto_Punks Database Consolidation and Export to MongoDB Atlas

This notebook creates a consolidated MongoDB collection and exports it to our main MongoDB database store in MongoDB Atlas, 'crypto_punks_mdb':

* crypto_punks_col

### To manage the MongoDB Atlas database through MongoDB Compass, establish a connection using the following as the connection URI:

mongodb+srv://[user]:[password]@cluster0.wddnt.mongodb.net/[my_database]?retryWrites=true&w=majority"
    
Replace [user] and [password] for the cluster's user and password, and replace [my_database] with crypto_punks_mdb.

In [1]:
# Import main dependencies
import pandas as pd
import numpy as np
import json

# Import image handling libraries
from PIL import Image

# Import MongoDB libraries for database management 
import pymongo
from pymongo import MongoClient

import time

# Create a Connection to MongoDB Atlas

In [2]:
# Make a connection to Mongo with MongoClient (use this URI to establish 
# connection with MongoDB Atlas)

# 1. Get user and password for Atlas cluster connection
from config import user, password

# 2. Establish which database in the Atlas cluster to connect to
my_database = "crypto_punks_mdb"

atlas_path = "mongodb+srv://"+user+":"+password+"@cluster0.wddnt.mongodb.net/"+my_database+"?retryWrites=true&w=majority"

In [3]:
# 3. Establish the connection as a pyMongo client using the
# path to the cluster provided by your Atlas account
atlas_client = pymongo.MongoClient(atlas_path)

# 4. Verify connection was established
print(atlas_client.test)

Database(MongoClient(host=['cluster0-shard-00-01.wddnt.mongodb.net:27017', 'cluster0-shard-00-00.wddnt.mongodb.net:27017', 'cluster0-shard-00-02.wddnt.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-8x2to2-shard-0', tls=True), 'test')

In [4]:
# Create an object to point to the database
crypto_punks_mdb = atlas_client[my_database]

## Consolidate the crypto_punks_col and Export to MongoDB Atlas

In [5]:
# Read the other dataframes to consolidate with:
type_predictions_df = pd.read_csv("Data/type_predictions.csv")
type_predictions_df

,punk_id,type,accessories,type_ML,type_PRED
0,0,Female,"['Green Eye Shadow', 'Earring', 'Blonde Bob']",1,1
1,1,Male,"['Smile', 'Mohawk']",0,0
2,2,Female,['Wild Hair'],1,1
3,3,Male,"['Wild Hair', 'Nerd Glasses', 'Pipe']",0,0
4,4,Male,"['Big Shades', 'Wild Hair', 'Earring', 'Goat']",0,0
...,...,...,...,...,...
9995,9995,Female,"['Purple Eye Shadow', 'Straight Hair Dark']",1,1
9996,9996,Male,"['Cigarette', 'Earring', 'Crazy Hair', 'Smile']",0,0
9997,9997,Zombie,"['Front Beard', 'Cap Forward']",2,2
9998,9998,Female,"['Wild White Hair', 'Black Lipstick', 'Clown E...",1,1
9999,9999,Female,"['Mohawk', 'Nerd Glasses']",1,1

In [6]:
# Read the other dataframes to consolidate with:
glasses_predictions_df = pd.read_csv("Data/glasses_predictions.csv")
glasses_predictions_df

,punk_id,type,accessories,glasses_ML,glasses_PRED
0,0,Female,"['Green Eye Shadow', 'Earring', 'Blonde Bob']",0,0
1,1,Male,"['Smile', 'Mohawk']",0,0
2,2,Female,['Wild Hair'],0,0
3,3,Male,"['Wild Hair', 'Nerd Glasses', 'Pipe']",1,1
4,4,Male,"['Big Shades', 'Wild Hair', 'Earring', 'Goat']",1,1
...,...,...,...,...,...
9995,9995,Female,"['Purple Eye Shadow', 'Straight Hair Dark']",0,0
9996,9996,Male,"['Cigarette', 'Earring', 'Crazy Hair', 'Smile']",0,0
9997,9997,Zombie,"['Front Beard', 'Cap Forward']",0,0
9998,9998,Female,"['Wild White Hair', 'Black Lipstick', 'Clown E...",0,0
9999,9999,Female,"['Mohawk', 'Nerd Glasses']",1,1

In [7]:
# Merge the dataframes
crypto_punks_consolidated_df = pd.merge(type_predictions_df, glasses_predictions_df, on=["punk_id","type","accessories"])
crypto_punks_consolidated_df

,punk_id,type,accessories,type_ML,type_PRED,glasses_ML,glasses_PRED
0,0,Female,"['Green Eye Shadow', 'Earring', 'Blonde Bob']",1,1,0,0
1,1,Male,"['Smile', 'Mohawk']",0,0,0,0
2,2,Female,['Wild Hair'],1,1,0,0
3,3,Male,"['Wild Hair', 'Nerd Glasses', 'Pipe']",0,0,1,1
4,4,Male,"['Big Shades', 'Wild Hair', 'Earring', 'Goat']",0,0,1,1
...,...,...,...,...,...,...,...
9995,9995,Female,"['Purple Eye Shadow', 'Straight Hair Dark']",1,1,0,0
9996,9996,Male,"['Cigarette', 'Earring', 'Crazy Hair', 'Smile']",0,0,0,0
9997,9997,Zombie,"['Front Beard', 'Cap Forward']",2,2,0,0
9998,9998,Female,"['Wild White Hair', 'Black Lipstick', 'Clown E...",1,1,0,0
9999,9999,Female,"['Mohawk', 'Nerd Glasses']",1,1,1,1

In [8]:
# Add url for punk_id description
for row in range(len(crypto_punks_consolidated_df)):
    #print("https://www.larvalabs.com/cryptopunks/details/"+str(row))
    crypto_punks_consolidated_df.at[row,"info_URL"]= "https://www.larvalabs.com/cryptopunks/details/"+str(row)

crypto_punks_consolidated_df

,punk_id,type,accessories,type_ML,type_PRED,glasses_ML,glasses_PRED,info_URL
0,0,Female,"['Green Eye Shadow', 'Earring', 'Blonde Bob']",1,1,0,0,https://www.larvalabs.com/cryptopunks/details/0
1,1,Male,"['Smile', 'Mohawk']",0,0,0,0,https://www.larvalabs.com/cryptopunks/details/1
2,2,Female,['Wild Hair'],1,1,0,0,https://www.larvalabs.com/cryptopunks/details/2
3,3,Male,"['Wild Hair', 'Nerd Glasses', 'Pipe']",0,0,1,1,https://www.larvalabs.com/cryptopunks/details/3
4,4,Male,"['Big Shades', 'Wild Hair', 'Earring', 'Goat']",0,0,1,1,https://www.larvalabs.com/cryptopunks/details/4
...,...,...,...,...,...,...,...,...
9995,9995,Female,"['Purple Eye Shadow', 'Straight Hair Dark']",1,1,0,0,https://www.larvalabs.com/cryptopunks/details/...
9996,9996,Male,"['Cigarette', 'Earring', 'Crazy Hair', 'Smile']",0,0,0,0,https://www.larvalabs.com/cryptopunks/details/...
9997,9997,Zombie,"['Front Beard', 'Cap Forward']",2,2,0,0,https://www.larvalabs.com/cryptopunks/details/...
9998,9998,Female,"['Wild White Hair', 'Black Lipstick', 'Clown E...",1,1,0,0,https://www.larvalabs.com/cryptopunks/details/...
9999,9999,Female,"['Mohawk', 'Nerd Glasses']",1,1,1,1,https://www.larvalabs.com/cryptopunks/details/...

In [9]:
# Inspect data types for compatibility with MongoDB
crypto_punks_consolidated_df.dtypes

punk_id          int64
type            object
accessories     object
type_ML          int64
type_PRED        int64
glasses_ML       int64
glasses_PRED     int64
info_URL        object
dtype: object

In [10]:
# Change incompatible data types
crypto_punks_consolidated_df = crypto_punks_consolidated_df.astype(str)
crypto_punks_consolidated_df.dtypes

punk_id         object
type            object
accessories     object
type_ML         object
type_PRED       object
glasses_ML      object
glasses_PRED    object
info_URL        object
dtype: object

In [11]:
crypto_punks_consolidated_df

,punk_id,type,accessories,type_ML,type_PRED,glasses_ML,glasses_PRED,info_URL
0,0,Female,"['Green Eye Shadow', 'Earring', 'Blonde Bob']",1,1,0,0,https://www.larvalabs.com/cryptopunks/details/0
1,1,Male,"['Smile', 'Mohawk']",0,0,0,0,https://www.larvalabs.com/cryptopunks/details/1
2,2,Female,['Wild Hair'],1,1,0,0,https://www.larvalabs.com/cryptopunks/details/2
3,3,Male,"['Wild Hair', 'Nerd Glasses', 'Pipe']",0,0,1,1,https://www.larvalabs.com/cryptopunks/details/3
4,4,Male,"['Big Shades', 'Wild Hair', 'Earring', 'Goat']",0,0,1,1,https://www.larvalabs.com/cryptopunks/details/4
...,...,...,...,...,...,...,...,...
9995,9995,Female,"['Purple Eye Shadow', 'Straight Hair Dark']",1,1,0,0,https://www.larvalabs.com/cryptopunks/details/...
9996,9996,Male,"['Cigarette', 'Earring', 'Crazy Hair', 'Smile']",0,0,0,0,https://www.larvalabs.com/cryptopunks/details/...
9997,9997,Zombie,"['Front Beard', 'Cap Forward']",2,2,0,0,https://www.larvalabs.com/cryptopunks/details/...
9998,9998,Female,"['Wild White Hair', 'Black Lipstick', 'Clown E...",1,1,0,0,https://www.larvalabs.com/cryptopunks/details/...
9999,9999,Female,"['Mohawk', 'Nerd Glasses']",1,1,1,1,https://www.larvalabs.com/cryptopunks/details/...

In [12]:
# Create an empty list to hold a dictionary for the records in the dataframe
crypto_punks_list = []

In [13]:
# Loop through the dataframe to populate the list while also adding the bitmap image
for row in range(len(crypto_punks_consolidated_df)):

    crypto_punks_list = []
    
    # Open the image file for the Crypto Punk id
    file_to_open = ("Data/images/"+str(row)+".png")
    rgb_image = Image.open(file_to_open)
    
    # Convert the image to a bitmap array as a list
    rgb_bit_map = np.asarray(rgb_image)
    
    # Convert the accessories field to a list
    # 1. Create an empty list
    accessories_list =[]
    # 2. Read the string with the accessories
    accessories = crypto_punks_consolidated_df.at[row,"accessories"]
    # 3. remove brackets, spaces and quotes
    accessories = accessories.replace("[","").replace(", ",",").replace("]","").replace("'","").replace("\"","")
    # 4. convert the string to a list
    accessories_list = accessories.split(",")
    
    
    # Add the punk_id data and bitmap array to the crypto_punks_list as
    # a dictionary
    crypto_punks_list.append({"punk_id": crypto_punks_consolidated_df.at[row,"punk_id"],
                              "type": crypto_punks_consolidated_df.at[row,"type"],
                              "accessories": accessories_list,
                              "type_ML": crypto_punks_consolidated_df.at[row,"type_ML"],
                              "type_PRED": crypto_punks_consolidated_df.at[row,"type_PRED"],
                              "glasses_ML": crypto_punks_consolidated_df.at[row,"glasses_ML"],
                              "glasses_PRED": crypto_punks_consolidated_df.at[row,"glasses_PRED"],
                              "info_URL": crypto_punks_consolidated_df.at[row,"info_URL"],
                              "image_bitmap": rgb_bit_map.tolist()
                             })
    
    
    # Add the crypto punk to the MongoDB in Atlas
    crypto_punks_mdb.crypto_punks_col.insert_one(crypto_punks_list[0])

In [14]:
# Inspect the first record of the list
crypto_punks_list[0]

{'punk_id': '9999',
 'type': 'Female',
 'accessories': ['Mohawk', 'Nerd Glasses'],
 'type_ML': '1',
 'type_PRED': '1',
 'glasses_ML': '1',
 'glasses_PRED': '1',
 'info_URL': 'https://www.larvalabs.com/cryptopunks/details/9999',
 'image_bitmap': [[[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [166, 110, 44, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [166, 110, 44, 255],
   [166, 110, 44, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [133, 86, 30, 255],
   [166, 110, 44, 255],
   [166, 110, 44, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [133, 86, 30, 255],
   [166, 110, 44, 255],
   [166, 110, 44, 255],
   [166, 110, 44, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [166, 110, 44, 255],
   [166, 110, 44, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [139, 83, 44, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [166, 110, 44, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [128, 219, 218, 255],
   [128, 219, 218, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [128, 219, 218, 255],
   [128, 219, 218, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [128, 219, 218, 255],
   [128, 219, 218, 255],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [128, 219, 218, 255],
   [128, 219, 218, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [74, 18, 1, 255],
   [74, 18, 1, 255],
   [74, 18, 1, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]],
  [[0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [113, 63, 29, 255],
   [0, 0, 0, 255],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0],
   [0, 0, 0, 0]]],
 '_id': ObjectId('61e486f3c34e5e3a5c6afebd')}

# END