# Txn_History Database Consolidation and Export to MongoDB Atlas

This notebook creates a consolidated MongoDB collection and exports it to our main MongoDB database store in MongoDB Atlas, 'crypto_punks_mdb':

* txn_history_col

### To manage the MongoDB Atlas database through MongoDB Compass, establish a connection using the following as the connection URI:

mongodb+srv://[user]:[password]@cluster0.wddnt.mongodb.net/[my_database]?retryWrites=true&w=majority"
    
Replace [user] and [password] for the cluster's user and password, and replace [my_database] with crypto_punks_mdb.

In [1]:
# Import main dependencies
import pandas as pd
import numpy as np
import json

# Import image handling libraries
from PIL import Image

# Import MongoDB libraries for database management 
import pymongo
from pymongo import MongoClient

import time

# Create a Connection to MongoDB Atlas

In [2]:
# Make a connection to Mongo with MongoClient (use this URI to establish 
# connection with MongoDB Atlas)

# 1. Get user and password for Atlas cluster connection
from config import user, password

# 2. Establish which database in the Atlas cluster to connect to
my_database = "crypto_punks_mdb"

atlas_path = "mongodb+srv://"+user+":"+password+"@cluster0.wddnt.mongodb.net/"+my_database+"?retryWrites=true&w=majority"

In [3]:
# 3. Establish the connection as a pyMongo client using the
# path to the cluster provided by your Atlas account
atlas_client = pymongo.MongoClient(atlas_path)

# 4. Verify connection was established
print(atlas_client.test)

Database(MongoClient(host=['cluster0-shard-00-00.wddnt.mongodb.net:27017', 'cluster0-shard-00-02.wddnt.mongodb.net:27017', 'cluster0-shard-00-01.wddnt.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-8x2to2-shard-0', tls=True), 'test')

In [4]:
# Create an object to point to the database
crypto_punks_mdb = atlas_client[my_database]

## Export the txn_history_col to Mongo DB Atlas

In [5]:
# Read the traders.csv as a dataframe
txn_history_df = pd.read_csv("Data/tx_history.csv")
txn_history_df

,txn_type,from,to,date,timestamp,source,eth,punk_id,from_wallet_address,to_wallet_address
0,Bid Withdrawn,0xe73a1d,NaN,2021-09-04 00:00:00,2021-09-04 00:00:00,larvalabs,321.00,0,NaN,NaN
1,Bid,0xe73a1d,NaN,2021-09-01 00:00:00,2021-09-01 00:00:00,larvalabs,321.00,0,NaN,NaN
2,Bid Withdrawn,0x2e5e22,NaN,2021-09-01 00:00:00,2021-09-01 00:00:00,larvalabs,320.00,0,NaN,NaN
3,Bid,0x2e5e22,NaN,2021-09-01 00:00:00,2021-09-01 00:00:00,larvalabs,320.00,0,NaN,NaN
4,Bid Withdrawn,0x2e5e22,NaN,2021-09-01 00:00:00,2021-09-01 00:00:00,larvalabs,263.00,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
167487,Bid,0xa0a59c,NaN,2017-07-03 00:00:00,2017-07-03 00:00:00,larvalabs,0.25,9999,NaN,NaN
167488,Bid,0x717403,NaN,2017-06-26 00:00:00,2017-06-26 00:00:00,larvalabs,0.20,9999,NaN,NaN
167489,Bid,ddaavvee,NaN,2017-06-23 00:00:00,2017-06-23 00:00:00,larvalabs,0.20,9999,NaN,NaN
167490,Bid,0x5b098b,NaN,2017-06-23 00:00:00,2017-06-23 00:00:00,larvalabs,0.15,9999,NaN,NaN
167491,Claimed,NaN,0x7e2d1c,2017-06-23 00:00:00,2017-06-23 00:00:00,larvalabs,0.00,9999,NaN,NaN

In [6]:
# Inspect data types for compatibility with MongoDB
txn_history_df.dtypes

txn_type                object
from                    object
to                      object
date                    object
timestamp               object
source                  object
eth                    float64
punk_id                  int64
from_wallet_address     object
to_wallet_address       object
dtype: object

In [7]:
# Change incompatible data types
txn_history_df = txn_history_df.astype(str)
txn_history_df.dtypes

txn_type               object
from                   object
to                     object
date                   object
timestamp              object
source                 object
eth                    object
punk_id                object
from_wallet_address    object
to_wallet_address      object
dtype: object

In [8]:
# Reinspect the dataframe
txn_history_df

,txn_type,from,to,date,timestamp,source,eth,punk_id,from_wallet_address,to_wallet_address
0,Bid Withdrawn,0xe73a1d,nan,2021-09-04 00:00:00,2021-09-04 00:00:00,larvalabs,321.0,0,nan,nan
1,Bid,0xe73a1d,nan,2021-09-01 00:00:00,2021-09-01 00:00:00,larvalabs,321.0,0,nan,nan
2,Bid Withdrawn,0x2e5e22,nan,2021-09-01 00:00:00,2021-09-01 00:00:00,larvalabs,320.0,0,nan,nan
3,Bid,0x2e5e22,nan,2021-09-01 00:00:00,2021-09-01 00:00:00,larvalabs,320.0,0,nan,nan
4,Bid Withdrawn,0x2e5e22,nan,2021-09-01 00:00:00,2021-09-01 00:00:00,larvalabs,263.0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...
167487,Bid,0xa0a59c,nan,2017-07-03 00:00:00,2017-07-03 00:00:00,larvalabs,0.25,9999,nan,nan
167488,Bid,0x717403,nan,2017-06-26 00:00:00,2017-06-26 00:00:00,larvalabs,0.2,9999,nan,nan
167489,Bid,ddaavvee,nan,2017-06-23 00:00:00,2017-06-23 00:00:00,larvalabs,0.2,9999,nan,nan
167490,Bid,0x5b098b,nan,2017-06-23 00:00:00,2017-06-23 00:00:00,larvalabs,0.15,9999,nan,nan
167491,Claimed,nan,0x7e2d1c,2017-06-23 00:00:00,2017-06-23 00:00:00,larvalabs,0.0,9999,nan,nan

In [9]:
# Create an empty list of dictionaries
txn_history_list=[]

In [10]:
# Loop through the dataframe to populate the list
for row in range(len(txn_history_df)):

    # Add the transaction history data to the txn_history_list as
    # a dictionary
    txn_history_list.append({"txn_index": str(row),
                             "txn_type": txn_history_df.at[row,"txn_type"],
                             "from": txn_history_df.at[row,"from"],
                             "to": txn_history_df.at[row,"to"],
                             "date": txn_history_df.at[row,"date"],
                             "timestamp": txn_history_df.at[row,"timestamp"],
                             "source": txn_history_df.at[row,"source"],
                             "eth": txn_history_df.at[row,"eth"],
                             "punk_id": txn_history_df.at[row,"punk_id"],
                             "from_wallet_address": txn_history_df.at[row,"from_wallet_address"],
                             "to_wallet_address": txn_history_df.at[row,"to_wallet_address"]
                            })

In [11]:
# Inspect the first record of the list
txn_history_list[0]

{'txn_index': '0',
 'txn_type': 'Bid Withdrawn',
 'from': '0xe73a1d',
 'to': 'nan',
 'date': '2021-09-04 00:00:00',
 'timestamp': '2021-09-04 00:00:00',
 'source': 'larvalabs',
 'eth': '321.0',
 'punk_id': '0',
 'from_wallet_address': 'nan',
 'to_wallet_address': 'nan'}

In [12]:
# Add the txn_history as a collection to the database 1,000 records at a time

for runs in range(168):
    start_record = runs*1000
    end_record = 1000 + runs*1000
    if end_record >= 167493:
        end_record = 167492
    print("processing record: ",start_record,"  to: ",end_record)

    # Select the batch to be loaded
    list_to_load = txn_history_list[start_record:end_record]
  
    # upload the batch to the database collection
    crypto_punks_mdb.txn_history_col.insert_many(list_to_load)

# Report when done
print ("Export completed ----------------------------")

processing record:  0   to:  1000
processing record:  1000   to:  2000
processing record:  2000   to:  3000
processing record:  3000   to:  4000
processing record:  4000   to:  5000
processing record:  5000   to:  6000
processing record:  6000   to:  7000
processing record:  7000   to:  8000
processing record:  8000   to:  9000
processing record:  9000   to:  10000
processing record:  10000   to:  11000
processing record:  11000   to:  12000
processing record:  12000   to:  13000
processing record:  13000   to:  14000
processing record:  14000   to:  15000
processing record:  15000   to:  16000
processing record:  16000   to:  17000
processing record:  17000   to:  18000
processing record:  18000   to:  19000
processing record:  19000   to:  20000
processing record:  20000   to:  21000
processing record:  21000   to:  22000
processing record:  22000   to:  23000
processing record:  23000   to:  24000
processing record:  24000   to:  25000
processing record:  25000   to:  26000
processing record:  26000   to:  27000
processing record:  27000   to:  28000
processing record:  28000   to:  29000
processing record:  29000   to:  30000
processing record:  30000   to:  31000
processing record:  31000   to:  32000
processing record:  32000   to:  33000
processing record:  33000   to:  34000
processing record:  34000   to:  35000
processing record:  35000   to:  36000
processing record:  36000   to:  37000
processing record:  37000   to:  38000
processing record:  38000   to:  39000
processing record:  39000   to:  40000
processing record:  40000   to:  41000
processing record:  41000   to:  42000
processing record:  42000   to:  43000
processing record:  43000   to:  44000
processing record:  44000   to:  45000
processing record:  45000   to:  46000
processing record:  46000   to:  47000
processing record:  47000   to:  48000
processing record:  48000   to:  49000
processing record:  49000   to:  50000
processing record:  50000   to:  51000
processing record:  51000   to:  52000
processing record:  52000   to:  53000
processing record:  53000   to:  54000
processing record:  54000   to:  55000
processing record:  55000   to:  56000
processing record:  56000   to:  57000
processing record:  57000   to:  58000
processing record:  58000   to:  59000
processing record:  59000   to:  60000
processing record:  60000   to:  61000
processing record:  61000   to:  62000
processing record:  62000   to:  63000
processing record:  63000   to:  64000
processing record:  64000   to:  65000
processing record:  65000   to:  66000
processing record:  66000   to:  67000
processing record:  67000   to:  68000
processing record:  68000   to:  69000
processing record:  69000   to:  70000
processing record:  70000   to:  71000
processing record:  71000   to:  72000
processing record:  72000   to:  73000
processing record:  73000   to:  74000
processing record:  74000   to:  75000
processing record:  75000   to:  76000
processing record:  76000   to:  77000
processing record:  77000   to:  78000
processing record:  78000   to:  79000
processing record:  79000   to:  80000
processing record:  80000   to:  81000
processing record:  81000   to:  82000
processing record:  82000   to:  83000
processing record:  83000   to:  84000
processing record:  84000   to:  85000
processing record:  85000   to:  86000
processing record:  86000   to:  87000
processing record:  87000   to:  88000
processing record:  88000   to:  89000
processing record:  89000   to:  90000
processing record:  90000   to:  91000
processing record:  91000   to:  92000
processing record:  92000   to:  93000
processing record:  93000   to:  94000
processing record:  94000   to:  95000
processing record:  95000   to:  96000
processing record:  96000   to:  97000
processing record:  97000   to:  98000
processing record:  98000   to:  99000
processing record:  99000   to:  100000
processing record:  100000   to:  101000
processing record:  101000   to:  102000
processing record:  102000   to:  103000
processing record:  103000   to:  104000
processing record:  104000   to:  105000
processing record:  105000   to:  106000
processing record:  106000   to:  107000
processing record:  107000   to:  108000
processing record:  108000   to:  109000
processing record:  109000   to:  110000
processing record:  110000   to:  111000
processing record:  111000   to:  112000
processing record:  112000   to:  113000
processing record:  113000   to:  114000
processing record:  114000   to:  115000
processing record:  115000   to:  116000
processing record:  116000   to:  117000
processing record:  117000   to:  118000
processing record:  118000   to:  119000
processing record:  119000   to:  120000
processing record:  120000   to:  121000
processing record:  121000   to:  122000
processing record:  122000   to:  123000
processing record:  123000   to:  124000
processing record:  124000   to:  125000
processing record:  125000   to:  126000
processing record:  126000   to:  127000
processing record:  127000   to:  128000
processing record:  128000   to:  129000
processing record:  129000   to:  130000
processing record:  130000   to:  131000
processing record:  131000   to:  132000
processing record:  132000   to:  133000
processing record:  133000   to:  134000
processing record:  134000   to:  135000
processing record:  135000   to:  136000
processing record:  136000   to:  137000
processing record:  137000   to:  138000
processing record:  138000   to:  139000
processing record:  139000   to:  140000
processing record:  140000   to:  141000
processing record:  141000   to:  142000
processing record:  142000   to:  143000
processing record:  143000   to:  144000
processing record:  144000   to:  145000
processing record:  145000   to:  146000
processing record:  146000   to:  147000
processing record:  147000   to:  148000
processing record:  148000   to:  149000
processing record:  149000   to:  150000
processing record:  150000   to:  151000
processing record:  151000   to:  152000
processing record:  152000   to:  153000
processing record:  153000   to:  154000
processing record:  154000   to:  155000
processing record:  155000   to:  156000
processing record:  156000   to:  157000
processing record:  157000   to:  158000
processing record:  158000   to:  159000
processing record:  159000   to:  160000
processing record:  160000   to:  161000
processing record:  161000   to:  162000
processing record:  162000   to:  163000
processing record:  163000   to:  164000
processing record:  164000   to:  165000
processing record:  165000   to:  166000
processing record:  166000   to:  167000
processing record:  167000   to:  167492
Export completed ----------------------------

# END